<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/customnavbar.css">
    
    <title>Document</title>
</head>
<body>
        
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  static-top background">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/static/images/v68_8.png" alt="..." height=50px>
          </a>
          <a class="navbar-brand" href="#"> <h2>Champion league</h2> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link btn btn-block  " aria-current="page" href="{% url 'HOME' %}">Home</a>
              </li>
              
             
            </ul>
          </div>
        </div>
      </nav>
    
     

      <div class="p-5"></div>
      <div class="p-5"></div>


      <div class="row container" style="color: white;">

        <div class="col-8" > 
            <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >Ansufati :</h3>
            <p class="d-inline-flex p-3   text-capitalize " style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Anssumane "Ansu" Fati Vieira (born 31 October 2002) is a professional footballer who plays as a forward for La Liga club Barcelona and the Spain national team. 
He is now new number 10 at Barcelona FC after the departure of Lionel Messi.
He was born in Guinea-Bissau but chose to represent the Spain national team. He is widely considered one of Spain's most exciting football talents, and one of the best young players in the world.
Widely considered by several pundits to be one of the most talented and promising young players in the world, Fati's playing style has been compared with that of former Barcelona player Lionel Messi. A versatile forward, Fati is capable of playing in any attacking position; he started his career as a striker, although he was later moved to the position of left winger. Being adept with either foot, despite being naturally right-footed, he is also capable of playing on the right flank, in the centre as a false 9, as a second striker or number 11, or in a free role as an attacking midfielder or number 10.

            </p>
        </div>

        <div class="col-4 " >

            <img   style="width: 140%; height: 130%;" src="/static/images/Scrolling page front images/Ansufati.jpg" alt="jhgjjhj">

        </div>

      </div>


      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>