<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/customnavbar.css">
    
    <title>Document</title>
</head>
<body>
        
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  static-top background">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/static/images/v68_8.png" alt="..." height=50px>
          </a>
          <a class="navbar-brand" href="#"> <h2>Champion league</h2> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link btn btn-block  " aria-current="page" href="{% url 'HOME' %}">Home</a>
              </li>
              
             
            </ul>
          </div>
        </div>
      </nav>
    
     

      <div class="p-5"></div>
      <div class="p-5"></div>


      <div class="row container" style="color: white;">

        <div class="col-8" > 
            <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >Erling Haaland :</h3>
            <p class="d-inline-flex p-3   text-capitalize " style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              Erling Braut Haaland (né Håland [ˈhôːlɑn]; born 21 July 2000) is a Norwegian professional footballer who plays as a striker for German Bundesliga club Borussia Dortmund and the Norway national team. A prolific goal scorer, Haaland is recognized for his pace, athleticism and finishing ability, earning him the nickname "The Terminator" by many of his admirers. He is considered one of the best strikers in world football.

              Haaland started his career at his hometown club Bryne in 2016, and moved to Molde the following year; he spent two seasons with the club before signing with Austrian side Red Bull Salzburg in January 2019. At Salzburg, he won two Austrian Bundesliga titles and one Austrian Cup. Haaland became the first teenager to score in five consecutive UEFA Champions League matches during the 2019–20 season. In December 2019, he completed a transfer to Borussia Dortmund for a fee reported to be in the region of €20 million. Haaland also won the 2020 Golden Boy award. In 2020–21, he was integral in Dortmund's DFB-Pokal win, won the Bundesliga Player of the Season award and finished as the top scorer of the UEFA Champions League.
              Following the 2019 FIFA U-20 World Cup, in which Haaland won the tournament's Golden Boot after he scored a record nine goals in a single match, he made his debut for the Norway senior team in September 2019.
              
            </p>
        </div>

        <div class="col-4 " >

            <img   style="width: 140%; height: 120%;" src="/static/images/Scrolling page front images/Erling Haaland.jpg" alt="jhgjjhj">

        </div>

      </div>


      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>