<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/customnavbar.css">
    
    <title>Document</title>
</head>
<body>
        
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  static-top background">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/static/images/v68_8.png" alt="..." height=50px>
          </a>
          <a class="navbar-brand" href="#"> <h2>Champion league</h2> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link btn btn-block  " aria-current="page" href="{% url 'HOME' %}">Home</a>
              </li>
              
             
            </ul>
          </div>
        </div>
      </nav>
    
     

      <div class="p-5"></div>
      <div class="p-5"></div>


      <div class="row container" style="color: white;">

        <div class="col-8" > 
            <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >N'Golo Kanté :</h3>
            <p class="d-inline-flex p-3   text-capitalize " style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              N'Golo Kanté (born 29 March 1991) is a French professional footballer who plays as a central midfielder for Premier League club Chelsea and the France national team. Considered by many to be one of the world's best midfielders, Kanté is widely praised for his work rate and defensive acumen.
              Kanté made his senior professional debut with Boulogne in 2012, appearing as a substitute in one Ligue 2 match, and played an entire season in the third division the following year. After that he joined Ligue 2 side Caen on a free transfer, finished third and won promotion to Ligue 1. He stayed with the club for one more year.
              In 2015, Kanté joined Leicester City for a fee worth £5.6 million and was integral to their maiden Premier League victory. The following year, he joined Chelsea for a fee worth £32 million and again won the league, making him the first outfield player to win consecutive English league titles with different clubs since Eric Cantona in 1992 and 1993. He has also won the PFA Players' Player of the Year and FWA Footballer of the Year, an FA Cup, the UEFA Europa League, and the UEFA Champions League. He was named the UEFA Men's Midfielder of the year in 2021.
              Kanté made his senior international debut for France in 2016 and was included in the squad that finished runners-up at the 2016 European Championship. In 2017 Kanté was named the French Player of the Year, a first for a player from the Premier League in seven years, and twelve months later was a key member of the 2018 FIFA World Cup winning squad.
              
            </p>
        </div>

        <div class="col-4 " >

            <img   style="width: 140%; height: 110%;" src="/static/images/Scrolling page front images/Kante.jpg" alt="jhgjjhj">

        </div>

      </div>


      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>