<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/customnavbar.css">
    
    <title>Document</title>
</head>
<body>
        
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  static-top background">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/images/v68_8.png" alt="..." height=50px>
          </a>
          <a class="navbar-brand" href="#"> <h2>Champion league</h2> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link btn btn-block " aria-current="page" href="{% url 'HOME' %}">Rivalries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-block " aria-current="page" href="{% url 'TRANSFERRUMORS' %}">Transfer Rumors</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link btn btn-block active" href="{% url 'TOP8TEAM' %}">Top 8 Teams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-block " href="{% url 'FIFAPRO11' %}">Fifa Pro World 11</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-block" href="{% url 'GREATTESTALLTIME' %}">Greatest All the Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  btn btn-block" href="{% url 'UCLTOPSCORER' %}">Ucl Top Scorrer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-block" href="{% url 'UCLWINNER' %}">Ucl winner</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-block" href="{% url 'TOPPREDICTORS' %}">Top Predictors</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>


      <div class="container-fluid">
        <div class="row background py-5">
         </div>
         <div class="row">
           <div class="col p-5" >
             <div class="p-3" >
               <img src="{% static '/images/logotop8/v65_0.png' %}" alt=" not found " height="80%" width="80%">              
             </div>
           </div>
           <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/PngItem_2019113.png' %}" alt=" not found " height="50%" width="55%">             
            </div>
          </div>
          <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/v59_53.png' %}" alt=" not found " height="80%" width="80%">           
            </div>
          </div>
          <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/v65_1.png' %}" alt=" not found " height="80%" width="80%">
            </div>            
          </div>
        </div>
        <div class="row">

          <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/v59_50.png' %}" alt=" not found " height="80%" width="80%">
              
            </div>
          </div>
          <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/v59_54.png' %}" alt=" not found " height="80%" width="80%">        
            </div>
           </div>
          <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/v59_58.png' %}" alt=" not found "  width="70% " height="30%">              
            </div>
          </div>
          <div class="col p-5" >
            <div class="p-3" >
              <img src="{% static '/images/logotop8/v59_57.png' %}" alt=" not found " height="80%" width="80%"> 
            </div>
          </div>
        </div>
      </div>
  
  
    





      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>